.tooling/practice4c55ed9f-405f-48a7-a9b7-f7cf4b549306/EmployeeApiImlp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<db:config name="Employee_Database_Config" doc:name="Database Config" doc:id="717b1caa-5d18-4dd3-97eb-cde7b99d3f68" >
		<db:my-sql-connection host="${mysql.host}" port="${mysql.port}" user="${mysql.user}" password="22824497" database="${mysql.database}" />
	</db:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="c94b938e-87db-40e7-b1fd-16af3f8dfda9" >
		<db:my-sql-connection host="${mysql.host}" port="${mysql.port}" user="${mysql.user}" password="22824497" database="${mysql.database}" />
	</db:config>
	<flow name="getAllEmployee" doc:id="f24629da-624d-4fd1-9fa5-6df8218e61d3" >
		<db:select doc:name="Select" doc:id="b3e2bc1c-b4c7-4638-b8e7-2d4f829db212" config-ref="Employee_Database_Config">
			<db:sql ><![CDATA[select * from employee]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="80d51538-2938-409a-af9f-25ade8d18929" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map (result)->{
	Id: result.id,
	firstName: result.first_name default "",
	lastName: result.last_name default "",
	email: result.email default "" 
	}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getEmployeeById" doc:id="265cbb4a-5acd-4d66-8852-aabcaee75202" >
		<db:select doc:name="Select" doc:id="87db9d20-efc4-497d-a63e-7e2963431025" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from employee where ID = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'id': vars.employeeId}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="977a916b-787f-4609-92c7-88765483cd3a" />
	</flow>
</mule>
